<div class="col-md-3 mb-2 user_post_item ">
  <!--画像クリック→投稿詳細モーダル表示-->
  <button type="button" class="btn posts_index_btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= post_show.id%>">
      <%= image_tag post_show.post_images[0].variant(resize: "240x240>").processed, class: "user_posts_index" %>
  </button>
  <!-- 投稿詳細モーダル -->
  <%= render 'public/posts/user_index_modal', post_show: post_show, comment_new: comment_new %>
</div>
