<div class="contaiber">
  <div class="row d-flex justify-content-center">
    <%= render partial: 'public/posts/feeds', collection: @posts, as: "post", locals: {comment_new: @comment_new} %>
  </div>
</div>