<div class="container followings_page">
  <div class="row">
    <span class="followings">Followings</span>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-1">
      <%= link_to :back do %>
        <span class= "btn back_to_user">←</span>
      <% end %>
    </div>
    <div class="col-md-6 col-sm-8 col-8">
      <%= render partial: 'public/users/index', collection: @followings, as: "user" %>
    </div>
  </div>
</div>