<div class="container">
  <div class="row">
    <div class="col-md-1">
      <%= link_to user_path(current_user) do %>
        <span class= "btn back_to_user">←</span>
      <% end %>
    </div>
    <div class="col-md-4">
      <div class="container">
        <div class="row">
          <div class="col">
            <h5 class="row">Followings</h5>
            <div class="row">
              <div class="col ms-3">
                <%= render 'public/users/index', users: @followings %>
              </div>
            </div>
          </div>
          <div class="col">
            <h5 class="row">Followers</h5>
              <div class="row">
                <div class="col ms-3">
                  <%= render 'public/users/index', users: @followers %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 ms-5">
      <h1>Chats</h1>
      <%= render 'public/rooms/index', rooms: @rooms %>
    </div>
  </div>
</div>