<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="about">
        <div class="about-visual">
          <%= image_tag 'main-visual1.jpg', size: '600x650'%>
        </div>
        <div class="about-visual">
          <div class="about-visual-content">
            <h1>About</h1>
            <p>Meet Cosは化粧品が大好きな人々をつなぎ、</p>
            <p>化粧品に関する活発な情報交換を目的としたWEBアプリケーションです。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
