<div class="container">
  <div class="row">
    <div class="col">
    <%= link_to "Sign in", new_user_session_path, class:"sign_in_btn" %>
    <%= link_to "Sign up", new_user_registration_path, class:"sign_up_btn" %>
    <%= link_to "For managers", new_admin_session_path %>
    <%= link_to 'ゲストログイン（閲覧用）', public_guest_sign_in_path, method: :post %>
    </div>
  </div>
</div>