<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="top-visual">
       <div class="top-visual-content">
          <h1 class="top-visual-title">Welcome to Meet Cos!!</h1>
          <p class="top-visual-body">Meet Cosは、化粧品を愛する人々のためにあります</p>
          <%= link_to about_path, class: "top-visual-link" do %>
            More info <i class="fas fa-arrow-circle-right"></i>
          <% end %>
       </div>
      </div>
    </div>
  </div>
</div>