@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
// @import "slick-theme";
// @import "slick";

// 新規投稿モーダル/
.new_post_modal,
.edit_post_modal {
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 800px;
}

// ユーザー詳細ページ詳細投稿モーダル
.user_posts_show_modal,
.posts_index_post_show_modal,
.favs_index_post_show_modal {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  max-height: 600px;
}

// サイドバー（user info）のボタン
.follow_btn {
  color: #6c9bd2;
  font-weight: bold;
}

.follow_btn:hover {
  background-color: #4753a2;
  color: white;
}

.unfollow_btn {
  color: #bc64a4;
  font-weight: bold;
}

.unfollow_btn:hover {
  background-color: #aa4c8f;
  color: #fff;
}

.chat_btn {
  background-color: #e3e548;
  font-weight: bold;
}

.chat_btn:hover {
  transform: scale(1.1, 1.1);
}


// ページ全体リンク
a {
  text-decoration: none;
}

// ログインページ
.sign_in_input_form {
  height: 40px;
  width: 300px;
}

/*いいね一覧*/
.back_to_user {
  font-size: 2rem;
  font-weight: lighter;
  color: #000;
  border: solid 1px #000;
  border-radius: 50% 50%;
  width: 60px;
  height: 60px;
}

.back_to_user:hover {
  background-color: #000;
  color: #fff;
}

// 通知一覧
.notice_delete_btn {
  color: #c71585;
  border-radius: 30px;
  border: 1px solid #c71585;
}

.notice_delete_btn:hover {
  background-color: #c71585;
  color: #ffffff;
}

/*管理者投稿詳細ページ*/
.admin_delete {
  border: solid 1px #000;
  color: #c71585;
  font-weight: lighter;
}

.admin_delete:hover {
  background-color: #c71585;
  color: #fff;
  border: none;
}