<div class="row mb-1">
  <div class="col">
    <%= link_to user_path(user.id) do %>
      <%= image_tag user.get_profile_image(100,100), class: "friends_icon" %>
    <% end %>
    <%= user.name %>
  </div>
</div>