<div class="conatainer-fluid">
  <div class="row">
    <div class="col">
      <%= link_to user_path(user.id) do %>
        <%= image_tag user.get_profile_image(30,30), class: "friends_icon" %>
      <% end %>
      <%= user.name %>
    </div>
  </div>
</div>