<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag @user.get_profile_image(100, 100) %><br>
      <%= @user.last_name %><%= @user.first_name%>
    </div>
  </div>
</div>