<div class="row">
  <%= render 'public/users/user_info', user: user %>
</div>

<div class="row">
  <div class="col side_bar_item"><%= link_to "マイページ", user_path(current_user) %></div>
  <!--<div class="col side_bar_item"><%#= link_to "グループ", groups_path %></div>-->
  <!--<div class="col side_bar_item"><%#= link_to "フォロワー", user_followers_path(@user) %></div>-->
  <!--<div class="col side_bar_item"><%#= link_to "フォロー中", user_followings_path(@user) %></div>-->
  <!--<div class="col side_bar_item"><%#= link_to "お知らせ", notification_index_path, local: false %></div>-->
  <div class="col side_bar_item"><%= link_to "Log out", destroy_user_session_path, method: :delete %></div>
</div>